@import "../../../scss/index.scss";

.rt {
    fill: $font-grey-light;
    width: 25px;
    height: 25px;

    &:hover {
        fill: limegreen;
    }

}

.rt-onn {
    width: 25px;
    height: 25px;
    fill: limegreen;
}