@import "../../scss/index.scss";

.chatgeneral {

    overflow: scroll;
    height: 70vh;
    width: 100%;

    padding: 0 !important;
    border-right: 1px solid $border-grey;

    &::-webkit-scrollbar {
        display: none;
    }
}

.chat {
    padding: 20px;

    .fecha {
        color: rgb(170, 167, 167);
        padding-left: 8px;
        margin-bottom: 10px;
        font-size: 10px;
        margin-top: 10px;
    }


    .cont {
        display: flex;

        span.fecha {
            padding: 0;
        }

        .avatar {
            width: 40px;
            height: 40px;
            margin-left: 10px;
            margin-right: 10px;
        }


        p {
            width: auto;
            background-color: rgb(148, 63, 105);
            padding: 10px;
            border-radius: 25px 25px 25px 0;
            margin-bottom: 0;
        }


    }


    .right {
        .msj {
            margin: 0;
            text-align: right !important;

        }

        margin: 0;

        p {
            text-align: right !important;
            width: fit-content;
            padding: 10px;
            margin-left: 10px;
            background-color: #540D6E;
            border-radius: 25px 25px 0 25px;

            margin-top: 10px;
            margin-bottom: 0;
        }

        .fecha {
            color: rgb(170, 167, 167);
            margin-bottom: 10px;
            font-size: 10px;
        }


    }

}

.list {

    margin-top: 80px;
    padding-inline-start: 0 !important;

    &:hover {
        color: $font-light;

        text-decoration: none;
    }
}

input {
    border-radius: 50px;
    background-color: #253341;
    padding: 10px 30px;
    margin-left: 150px;
    width: 100%;
    border: 0;
    color: $font-light;
    text-indent: 10px;

    &:focus {
        box-shadow: 0 0 3pt 2pt $primary;
        outline: none;

    }
}

.messages {
    padding-inline-start: 0 !important;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 25px;
    color: $font-light;
    border-bottom: 1px solid $border-grey;
    transition: 0.3s;

    .span {
        margin-left: 15%;
        color: lavender;
        background-color: midnightblue;
        border-radius: 50px;
        padding: 6%;
        text-align: justify;
    }

    .perfil {
        display: flex;
    }

    &:hover {

        background-color: #374a5c;
    }

    .avatar {
        width: 40px;
        height: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

}

.h2 {
    width: 100%;
    height: 50px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-bottom: 1px solid $border-grey;
    background-color: $background-grey-dark;
}

.H2 {
    position: fixed;
    margin: 0;
}