@import "../../scss/index.scss";

.password-modal {
    .modal-content {
        background-color: $background-grey-dark;
        border-radius: 25px;
        overflow: hidden;

        .modal-header {
            border-bottom: 1px solid $border-grey;
            padding: 15px;

            .modal-title {

                svg {
                    width: 15px;
                    height: 15px;
                    fill: $primary;
                    margin-left: 10px;

                    &:hover {
                        cursor: pointer;
                    }
                }
            }
        }

        .modal-body {
            padding: 0;

            form {
                textarea {
                    background-color: $background-grey-dark;
                    border: 0;
                    font-size: 20px;
                    color: $font-light;
                    padding: 10px 20px;
                    resize: none;

                    &:focus {
                        box-shadow: none;
                    }
                }

                .count {
                    margin: 15px;

                    &.error {
                        color: $danger;
                    }
                }

                button {
                    width: 100%;
                    height: 60px;
                    font-weight: bold;
                    font-size: 18px;
                    margin-top: 10px;
                }
            }
        }
    }

    h2 {
        margin-left: 3%;
        font-weight: bold;
        padding-bottom: 30px;
    }

    .form-group {
        padding-bottom: 20px;

    }

    .row {
        margin-right: 20px !important;
    }

    p {
        margin-left: 5%;
        font-weight: bold;
    }

    input {
        margin-right: 3% !important;
        margin-left: 3% !important;
        margin-bottom: 4% !important;
        font-size: 25px;
    }

    button {

        width: 100%;
        font-size: 20px;
        font-weight: bold;
        padding: 15px;
        border-radius: 0 0 25px 25px;
        margin-top: 20px;

        .spinner-border {
            width: 25px;
            height: 25px;
        }
    }
}